

/* Hero */



.hero.dataos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #2d323f;
  padding-right: 80px;
}

.hero.dataos .title {
  display: none;
}

.hero.dataos .circle {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 80vw;
  flex: 0 0 80vw;
  background-image: url(/img/circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero.dataos .slide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero.dataos .circle video {
  display: none;
  width: 300px;
  height: 300px;
  margin-left: -150px;
}

.hero.dataos .circle h3 {
  color: white;
  width: 80vw;
  height: 300px;
  font-size: 32px;
}

@media (min-width: 1200px) {
  .hero.dataos .title {
    display: block;
  }

  .hero.dataos .circle {
    display: flex;
    width: 600px;
    height: 600px;
    flex: 0 0 600px;
  }

  .hero.dataos .circle video {
    display: block;
  }

  .hero.dataos .circle h3 {
    width: 300px;
    height: auto;
    font-size: calc(1.3rem + .6vw);
  }
}

.hero.dataos .slide {
  position: absolute;
  top: 225px;
  opacity: 0;
}

@keyframes hero-dataos-slide {
  from {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.hero.dataos .slide1 {
  animation-name: hero-dataos-slide;
  animation-duration: 16s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.hero.dataos .slide2 {
  animation-name: hero-dataos-slide;
  animation-duration: 16s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

.hero.dataos .slide3 {
  animation-name: hero-dataos-slide;
  animation-duration: 16s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
}

.hero.dataos .slide4 {
  animation-name: hero-dataos-slide;
  animation-duration: 16s;
  animation-delay: 12s;
  animation-iteration-count: infinite;
}


/* Layers Graphic */


#Difference .rule {
  position: relative;
  margin: 16px 0 24px;
}

#Difference .rule:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  left: 24px;
  height: 0;
  border-top: 1px solid #717981;
}

#dataos-layers {
  margin: 0 auto;
  position: relative;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

#dataos-layers .dataos-graphic {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  animation: spin 90s linear infinite;
  transition: all 600ms ease-in-out;
  opacity: 0;
}

#dataos-layers.visible .dataos-graphic {
  opacity: 1;
}

#dataos-layers #graphic-layer2 {
  transition-delay: 1000ms;
}

#dataos-layers #graphic-layer3 {
  transition-delay: 2000ms;
}

#dataos-layers #panels {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#dataos-layers h1 {
  font-size: 80px;
  font-family: 'Inter', sans-serif;
  color: #2b333d;
  z-index: 10;
}

#dataos-layers .panel {
  position: relative;
  z-index: 20;
  padding: 24px 24px 24px 56px;
  margin: 0 8px 16px;
  border-radius: 24px;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.4);

  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all 600ms ease-in-out;
}

#dataos-layers .panel h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Inter', sans-serif;
  color: #2b333d;
  padding: 0;
  margin: 0 0 16px;
}

#dataos-layers .panel p {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #2b333d;
  padding: 0;
  margin: 0;
}

#dataos-layers #data-panel:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 16px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #cccccc;
}

#dataos-layers #knowledge-panel:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 16px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #97cbcb;
}

#dataos-layers #activation-panel:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 16px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-color: #e9db91;
}


@media (orientation: landscape) {

  #dataos-layers {
    width: 60vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #dataos-layers h1 {
    position: relative;
    left: -8vw;
  }

  #dataos-layers #panels {
    position: absolute;
    top: 0;
    right: -8vw;
    bottom: 0;
  }

  #dataos-layers .dataos-graphic {
    left: -8vw;
  }

  #dataos-layers .panel {
    width: 320px;
  }

  #dataos-layers #data-panel {
    transition-delay: 0;
  }

  #dataos-layers #activation-panel {
    transition-delay: 1000ms;
  }

  #dataos-layers #knowledge-panel {
    transition-delay: 2000ms;
  }

  #dataos-layers:not(.visible) #data-panel {
    transform: translate3d(40px, 0, 0);
    opacity: 0;
  }

  #dataos-layers:not(.visible) #knowledge-panel {
    transform: translate3d(40px, 0, 0);
    opacity: 0;
  }

  #dataos-layers:not(.visible) #activation-panel {
    transform: translate3d(40px, 0, 0);
    opacity: 0;
  }
}


