#intro {
  position: relative;
  z-index: 10;
}

#intro.animated,
#intro .animated {
  animation-duration: 1s;
  animation-play-state: paused;
  animation-fill-mode: both;
  animation-timing-function: linear;
  user-select: none;
}

#intro #container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#intro h1 {
  position: absolute;
  top: calc(50vh - 120px);
  left: 12vw;
  width: 76vw;
  padding: 0;
  margin: 8px 0;
  font-size: 116px;
  line-height: 120px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

#intro h1 .copy {
  position: relative;
  top: -3em;
  font-size: .2em;
}

#intro h2 {
  position: absolute;
  top: calc(50vh - 144px);
  left: 12vw;
  width: 76vw;
  padding: 0;
  margin: 8px 0;
  font-size: 70px;
  line-height: 72px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

#intro h3 {
  position: absolute;
  top: calc(50vh - 144px);
  left: 12vw;
  width: 76vw;
  padding: 0;
  margin: 8px 0;
  font-size: 40px;
  line-height: 48px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

@media (min-width: 1200px) {
  #intro h3 {
    font-size: 60px;
    line-height: 64px;
  }
}

#intro h4 {
  position: absolute;
  top: 70vh;
  left: 55vw;
  width: 45vw;
  padding: 0;
  margin: 8px 0;
  font-size: 38px;
  line-height: 40px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

#intro h5 {
  position: absolute;
  top: calc(50vh - 120px);
  left: 12vw;
  width: 76vw;
  padding: 0;
  margin: 8px 0;
  font-size: 38px;
  line-height: 40px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

#intro .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 0 16px;
  position: absolute;
}

#intro .feature img,
#intro .feature video {
  width: 12vw;
  height: 12vw;
}

#intro .feature p {
  width: 20vw;
  font-size: 18px;
  line-height: 20px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  text-align: center;
}

#intro .label {
  position: absolute;
  display: flex;
  align-items: flex-start;
}

#intro .label:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
  }

#intro .label .number {
  font-size: 32px;
  line-height: 32px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

#intro .label .text {
  padding: 0 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

#intro .label .text strong {
  font-size: 26px;
  line-height: 32px;
  font-weight: normal;
}


/* background color and scroll fill */

@keyframes background {
  from {
    background-color: #2c333d;
  }

  92% {
    background-color: #2c333d;
  }

  to {
    background-color: #717981;
  }
}

#intro {
  height: 1000vh;
  width: 100vw;
  background-color: #2c333d;
  animation-name: background;
}



/* think-modern */

@keyframes think-modern {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  4% {
    opacity: 1;
  }
  5% {
    transform: translate3d(0, -15vh, 0);
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

#intro #think-modern {
  animation-name: think-modern;
}


/* paradigm-shift */

@keyframes paradigm-shift {
  from {
    opacity: 0;
  }
  5% {
    transform: translate3d(0, 15vh, 0);
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  10% {
    transform: translate3d(0, -12vh, 0);
    opacity: 1;
  }
  14% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  to {
    transform: translate3d(0, -12vh, 0);
    opacity: 0;
  }
}

#intro #paradigm-shift {
  animation-name: paradigm-shift;
}


/* no-data-movement */

@keyframes no-data-movement {
  from {
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 15vh, 0);
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  20% {
    transform: translate3d(0, -12vh, 0);
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  to {
    transform: translate3d(0, -12vh, 0);
    opacity: 0;
  }
}

#intro #no-data-movement {
  animation-name: no-data-movement;
}


/* reduce-risk */

@keyframes reduce-risk {
  from {
    opacity: 0;
  }
  17% {
    transform: translate3d(0, 20vh, 0);
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  20% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    transform: translate3d(0, -20vh, 0);
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

#intro #reduce-risk {
  animation-name: reduce-risk;
}


/* right-to-left */

@keyframes right-to-left {
  from {
    opacity: 0;
  }
  25% {
    transform: translate3d(0, 15vh, 0);
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  30% {
    transform: translate3d(0, -12vh, 0);
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -12vh, 0);
  }
}

#intro #right-to-left {
  animation-name: right-to-left;
}


/* let-outcomes-drive */

@keyframes let-outcomes-drive {
  from {
    opacity: 0;
  }
  27% {
    transform: translate3d(0, 20vh, 0);
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  30% {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
  34% {
    opacity: 1;
  }
  35% {
    transform: translate3d(0, -20vh, 0);
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

#intro #let-outcomes-drive {
  animation-name: let-outcomes-drive;
}


/* transform-your-tradition */

@keyframes transform-your-tradition {
  from {
    opacity: 0;
  }
  35% {
    transform: translate3d(0, 15vh, 0);
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  40% {
    transform: translate3d(0, -12vh, 0);
  }
  43% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
  to {
    transform: translate3d(0, -12vh, 0);
    opacity: 0;
  }
}

#intro #transform-your-tradition {
  animation-name: transform-your-tradition;
}


/* the-modern-programmable */

@keyframes the-modern-programmable {
  from {
    opacity: 0;
  }
  35% {
    transform: translate3d(0, 15vh, 0);
  }
  40% {
    transform: translate3d(0, 0px, 0);
  }
  41% {
    opacity: 0;
  }
  42% {
    opacity: 1;
  }
  53% {
    transform: translate3d(0, -30vh, 0);
  }
  64% {
    opacity:1;
  }
  65% {
    opacity: 0;
  }
  to {
    transform: translate3d(0, -30vh, 0);
    opacity: 0;
  }
}

#intro #the-modern-programmable {
  animation-name: the-modern-programmable;
  top: calc(50vh - 144px + (72px * 2));
}


/* introducing */


@keyframes introducing-title {
  from {
    opacity: 0;
  }
  65% {
    transform: translate3d(0, 40px, 0) scale(2);
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  to {
    transform: translate3d(0, 40px, 0) scale(1);
    opacity: 0;
  }
}

#intro #introducing-title {
  text-align: center;
  animation-name: introducing-title;
}


@keyframes introducing {
  from {
    opacity: 0;
  }
  68% {
    transform: translate3d(0, 60px, 0) scale(2);
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  to {
    transform: translate3d(0, 60px, 0) scale(1);
    opacity: 0;
  }
}

#intro #introducing {
  animation-name: introducing;
  text-align: center;
}


/* dataos */

@keyframes dataos {
  from {
    opacity: 0;
  }
  75% {
    transform: translate3d(0,0,0) scale(1.5);
    opacity: 0;
  }
  80% {
    transform: translate3d(0,0,0) scale(.8);
    opacity: 1;
  }
  90% {
    transform: translate3d(0,0,0) scale(.8);
  }
  to {
    transform: translate3d(0,-60px,0) scale(1.5);
    opacity: 1;
  }
}

#intro #dataos {
  top: calc(50vh - 60px);
  animation-name: dataos;
  text-align: center;
}


/* the-most-effective */

@keyframes the-most-effective {
  from {
    opacity: 0;
  }
  95% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
}

#intro #the-most-effective {
  top: 55vh;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  animation-name: the-most-effective;
}


/* learn-more */

@keyframes learn-more {
  from {
    opacity: 0;
  }
  97% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
}

#intro #learn-more {
  position: absolute;
  top: calc(55vh + 96px);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  animation-name: learn-more;
}


/* Shapes */

#intro .shape {
  position: absolute;
}

/* Circle, outline to image */

@keyframes circle-outline {
  from {
    transform: translate(-15vw, 0) rotate(0) scale(1.8);
    opacity: 1;
  }

  30% {
    transform: translate(-30vw, -22vh) rotate(180deg) scale(1.5);
    opacity: 0.5;
  }

  57% {
    transform: translate(0, 0) rotate(360deg) scale(1);
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    opacity: 0;
  }

  30% {
    transform: translate(-30vw, -22vh) rotate(60deg) scale(1.5);
    opacity: 0;
  }

  57% {
    transform: translate(0, 0) rotate(0deg) scale(1);
    opacity: 1;
  }

  58% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

#intro #circle,
#intro #circle-outline {
  top: 25vh;
  left: calc(50vw - 25vh);
  height: 50vh;
  width: 50vh;
}

@keyframes circle-outline-spin {
  from {
    tranform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#intro #circle-outline svg {
  width: 100%;
  height: 100%;
  animation: circle-outline-spin 3s linear infinite;
}

#intro #circle {
  animation-name: circle;
}

#intro #circle-outline {
  animation-name: circle-outline;
}


/* Square, outline to image */

@keyframes square-outline {
  from {
    transform: translate(30vw, 25vh) rotate(180deg) scale(1.5);
    opacity: 1;
  }

  30% {
    transform: translate(17vw, -10vh) rotate(270deg) scale(1.3);
  }

  57% {
    transform: translate(0, 0) rotate(360deg) scale(1);
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes square {
  from {
    transform: translate(17vw, -10vh) rotate(270deg) scale(1.3);
    opacity: 0;
  }

  30% {
    transform: translate(17vw, -10vh) rotate(270deg) scale(1.3);
    opacity: 0;
  }

  57% {
    transform: translate(0, 0) rotate(360deg) scale(1);
    opacity: 1;
  }
  58% {
    opacity: 0;
  }

  to {
    transform: translate(0, 0) rotate(360deg) scale(1);
    opacity: 0;
  }
}

#intro #square,
#intro #square-outline {
  top: 50vh;
  left: 50vw;
  height: 25vh;
}

#intro #square {
  animation-name: square;
}

#intro #square-outline {
  animation-name: square-outline;
}


/* Slice 1, outline in bottom left to image in top right */

@keyframes slice-1-outline {
  from {
    transform: translate(-50vw, 50vh) rotate(90deg) scale(1.5);
    opacity: 1;
  }

  30% {
    transform: translate(30vw, -22vh) rotate(270deg) scale(1.3);
  }

  57% {
    transform: translate(0, 0) rotate(450deg) scale(1);
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes slice-1 {
  from {
    transform: translate(-50vw, 50vh) rotate(0deg) scale(1.5);
    opacity: 0;
  }

  30% {
    transform: translate(30vw, -22vh) rotate(180deg) scale(1.3);
    opacity: 0;
  }

  57% {
    transform: translate(0, 0) rotate(360deg) scale(1);
    opacity: 1;
  }

  58% {
    opacity: 0;
  }

  to {
    transform: translate(0, 0) rotate(360deg) scale(1);
    opacity: 0;
  }
}

#intro #slice-1,
#intro #slice-1-outline {
  bottom: 50vh;
  left: 50vw;
  height: 25vh;
}

#intro #slice-1 {
  animation-name: slice-1;
}

#intro #slice-1-outline {
  animation-name: slice-1-outline;
}


/* Slice 2, outline in top right to image in bottom left */

@keyframes slice-2-outline {
  from {
    transform: translate(50vw, -40vh) rotate(-90deg) scale(2);
    opacity: 1;
  }

  30% {
    transform: translate(-10vw, 20vh) rotate(90deg) scale(1.3);
  }

  57% {
    transform: translate(0, 0) rotate(270deg) scale(1);
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes slice-2 {
  from {
    transform: translate(50vw, -40vh) rotate(0deg) scale(2);
    opacity: 0;
  }

  30% {
    transform: translate(-10vw, 20vh) rotate(180deg) scale(1.3);
    opacity: 0;
  }

  57% {
    transform: translate(0, 0) rotate(360deg) scale(1);
    opacity: 1;
  }

  58% {
    opacity: 0;
  }

  to {
    transform: translate(0, 0) rotate(360deg) scale(1);
    opacity: 0;
  }
}

#intro #slice-2,
#intro #slice-2-outline {
  top: 50vh;
  right: 50vw;
  height: 25vh;
  width: 25vh;
}

#intro #slice-2 {
  animation-name: slice-2;
}

#intro #slice-2-outline {
  animation-name: slice-2-outline;
}


/* Circle video */

@keyframes circle-video {
  from {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  63% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

#intro #circle-video {
  position: absolute;
  top: 25vh;
  left: calc(50vw - 25vh);
  width: 50vh;
  height: 50vh;
  border-radius: 25vh;
  overflow: hidden;
  animation-name: circle-video;
}

#intro #circle-video video {
  width: 100%;
  height: 100%;
}


/* Label circle */

@keyframes label-circle {
  from {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  63% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

#intro #label-circle {
  position: absolute;
  top: 25vh;
  left: calc(50vw - 25vh);
  height: 50vh;
  width: 50vh;
  animation-name: label-circle;
}

#intro #label-circle-path {
  stroke: #fff;
  fill: none;
  stroke-linecap: round;
}

/* Labels around the circle */

#intro .label {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#intro .label.is-in-view {
  opacity: 1;
}

#intro #label-2.is-in-view:not(.is-past) {
  transition-delay: 1000ms;
}

#intro #label-3.is-in-view:not(.is-past) {
  transition-delay: 2000ms;
}

#intro #label-4.is-in-view:not(.is-past) {
  transition-delay: 3000ms;
}

#intro .label.is-in-view.is-past {
  opacity: 0;
  transition-delay: 0;
}

#intro #label-1 {
  flex-direction: column-reverse;
  left: calc(50vw - 8px);
  bottom: 75vh;
  padding-bottom: 16px;
}

#intro #label-1 .text {
  padding: 0 0 8px 0;
}

#intro #label-1:before {
  bottom: -4px;
  left: 4px;
}

#intro #label-2 {
  left: calc(50vw + 25vh);
  top: calc(50vh - 16px);
  padding-left: 16px;
  align-items: center;
}

#intro #label-2:before {
  top: 12px;
  left: -4px;
}

#intro #label-3 {
  left: calc(50vw - 8px);
  top: 75vh;
  padding-top: 16px;
  flex-direction: column;
}

#intro #label-3:before {
  top: -4px;
  left: 4px;
}

#intro #label-3 .text {
  padding: 8px 0 0 0;
}

#intro #label-4 {
  right: calc(50vw + 25vh);
  top: calc(50vh - 16px);
  padding-right: 16px;
  align-items: center;
  flex-direction: row-reverse;
}

#intro #label-4 .text {
  text-align: right;
}

#intro #label-4:before {
  top: 12px;
  right: -4px;
}

/* Data OS shape */


@keyframes dataos-graphic {
  from {
    opacity: 0;
  }

  63% {
    transform: scale(3) rotate(360deg);
    opacity: 0;
  }

  85% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  90% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }

  to {
    transform: scale(5) rotate(-360deg);
    opacity: 0.2;
  }
}

#intro #dataos-graphic {
  position: absolute;
  top: 25vh;
  left: calc(50vw - 25vh);
  width: 50vh;
  height: 50vh;
  transform-origin: center center;
  animation-name: dataos-graphic;
}


/* Features */

@keyframes feature-4 {
  from {
    opacity: 0;
  }

  82% {
    opacity: 0;
  }

  83% {
    opacity: 1;
  }

  91% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes feature-3 {
  from {
    opacity: 0;
  }

  82% {
    opacity: 0;
  }

  83% {
    opacity: 1;
  }

  91% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes feature-2 {
  from {
    opacity: 0;
  }

  82% {
    opacity: 0;
  }

  83% {
    opacity: 1;
  }

  91% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}



@keyframes feature-1 {
  from {
    opacity: 0;
  }

  82% {
    opacity: 0;
  }

  83% {
    opacity: 1;
  }

  91% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

#intro #feature-4 {
  top: 60vh;
  left: 65vw;
  animation-name: feature-4;
}


#intro #feature-3 {
  bottom: 60vh;
  left: 65vw;
  animation-name: feature-3;
}

#intro #feature-2 {
  top: 60vh;
  right: 65vw;
  animation-name: feature-2;
}

#intro #feature-1 {
  bottom: 60vh;
  right: 65vw;
  animation-name: feature-1;
}


@media (max-width: 1200px) {

  #intro {
    height: 200vh;
  }

  .label, 
  .feature,
  #circle-video,
  #paradigm-shift,
  #no-data-movement,
  #reduce-risk,
  #right-to-left,
  #let-outcomes-drive,
  #transform-your-tradition,
  #the-modern-programmable,
  #introducing,
  #circle,
  #square,
  #slice-1,
  #slice-2,
  #label-circle {
    display: none !important;
  }

  #intro #dataos {
    top: calc(50vh - 60px);
    animation-name: dataos;
    text-align: center;
  }

  #intro #learn-more {
    position: absolute;
    top: calc(55vh + 124px);
  }

  #intro h1 {
    left: 16px;
    width: calc(100vw - 32px);
    font-size: 90px;
    line-height: 96px;
  }



  @keyframes think-modern {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    4% {
      opacity: 1;
    }
    39% {
      opacity: 1;
    }
    40% {
      transform: translate3d(0, -15vh, 0);
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes dataos-graphic {
    from {
      opacity: 0;
    }

    40% {
      transform: scale(3) rotate(360deg);
      opacity: 0;
    }

    70% {
      transform: scale(1) rotate(0deg);
      opacity: 1;
    }

    to {
      transform: scale(5) rotate(-360deg);
      opacity: 0.2;
    }
  }

  @keyframes introducing-title {
    from {
      opacity: 0;
    }
    90% {
      opacity: 0;
      transform: translate3d(0,-40px,0) scale(.6);
    }
    to {
      transform: translate3d(0,-120px,0) scale(.8);
      opacity: 1;
    }
  }

  @keyframes dataos {
    from {
      opacity: 0;
    }
    75% {
      transform: translate3d(0,0,0) scale(1.5);
      opacity: 0;
    }
    80% {
      transform: translate3d(0,0,0) scale(.8);
      opacity: 1;
    }
    90% {
      transform: translate3d(0,0,0) scale(.8);
    }
    to {
      transform: translate3d(0,-60px,0) scale(1.5);
      opacity: 1;
    }
  }

  

}